html#id01 {
    font-size: 1px;


    body {
        width: 100vw;
        overflow-x: hidden;
    }

    .orange-button {
        border-radius: 90rem;
        width: fit-content;
        height: 77rem;
        background-image: linear-gradient(to top, #de8602, #f59815);
        font-family: Montserrat;
        font-size: 15rem;
        font-weight: 400;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.7;
        letter-spacing: 3.7rem;
        text-align: left;
        color: #ffffff;
        padding: 27rem 35rem;
        text-transform: uppercase;
        margin-top: 20rem;
        cursor: pointer;

        &:hover {
            opacity: 0.7;
        }
    }

    @media (max-width: 501px) {
        .orange-button{
            font-size: 20rem;
            padding: 21rem 35rem;
        }
    }

    .navigation{
        position: absolute;
        top: 3rem;
        right: -7rem;
        font-family: Montserrat;
        font-size: 20rem;
        font-weight: 400;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        text-align: left;
        color: #ffffff;
        cursor: pointer;
        display: flex;

        a{
            display: block;
            color: #fff;
            padding: 10rem;
            text-decoration: underline;

            &:hover{
                color: #ffca4d;
            }
        };
    }

    @media (max-width: 501px) {
        .navigation{
            position: absolute;
            top: 12rem;
            right: 20rem;
            font-family: Montserrat;
            font-size: 20rem;
            font-weight: 400;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            text-align: left;
            color: #ffffff;
            cursor: pointer;
            display: flex;
        }
    }

    .white-button {
        border-radius: 90rem;
        width: fit-content;
        height: 77rem;
        background: #fff;
        font-family: Montserrat;
        font-size: 15rem;
        font-weight: 400;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.7;
        letter-spacing: 3.7rem;
        text-align: left;
        color: #000;
        padding: 27rem 35rem;
        text-transform: uppercase;
        margin-top: 20rem;
        cursor: pointer;

        &:hover {
            opacity: 0.7;
        }
    }
    .main {

        .header {
            width: 100%;
            height: 700rem;
            position: relative;
            background: linear-gradient(to top, #4e72b3, #5ca0b4);

            .header-images {
                width: 100%;
                position: absolute;
                top: 0;
                height: 772rem;
                background: url('../image/head-images.png') no-repeat center 0rem/100%;
            }

            .logo-line {
                max-width: 1200rem;
                margin: 0 auto;
                position: relative;
                z-index: 999;
            }

            .logo-container {
                width: 286rem;
                height: 286rem;
                padding: 176rem 47rem 48rem 57rem;
                background-color: #ffffff;
                border-radius: 50%;
                position: absolute;
                top: -130rem;
            }

            .logo {
                width: 182rem;
                height: 62rem;
                background: url("../image/logo.png") no-repeat center/contain;
            }

            .question {
                text-transform: uppercase;
                position: absolute;
                top: 60rem;
                right: 0;
                font-family: Montserrat;
                font-size: 20rem;
                font-weight: 400;
                font-stretch: normal;
                font-style: normal;
                line-height: normal;
                letter-spacing: 4rem;
                text-align: left;
                color: #ffffff;
                cursor: pointer;

                &:hover {
                    opacity: 0.7;
                }

                &::before {
                    content: "";
                    display: block;
                    position: absolute;
                    width: 30rem;
                    height: 30rem;
                    left: -40rem;
                    top: -3rem;
                    background: url("../image/help.png") no-repeat center/contain;
                }
            }

            .text-line {
                max-width: 1200rem;
                margin: 0 auto;
                padding-top: 200rem;
                position: relative;

                .left-part {
                    width: 500rem;
                }

                .title {
                    font-family: Montserrat;
                    font-size: 48rem;
                    font-weight: bold;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: 50rem;
                    letter-spacing: normal;
                    text-align: left;
                    color: #ffffff;
                }

                .subtitle {
                    font-family: Montserrat;
                    font-size: 23rem;
                    font-weight: 400;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: 1.37;
                    letter-spacing: 4.6rem;
                    text-align: left;
                    color: #ffffff;
                    border-bottom: 1px solid #ffca4d;
                    margin-top: 10rem;
                    margin-bottom: 20rem;
                    padding-bottom: 20rem;
                }

                .text {
                    font-family: Montserrat;
                    font-size: 20rem;
                    font-weight: normal;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: 1.55;
                    letter-spacing: normal;
                    text-align: left;
                    color: #ffffff;
                }

                .right-part {
                    position: absolute;
                    top: 180rem;
                    right: -140rem;
                    width: 702rem;
                    height: 570rem;
                    background: url('../image/girl.png') no-repeat center 0rem/100%;
                    background-size: contain;
                }
            }
        }

        .can {
            max-width: 1100rem;
            margin: 0 auto;
            padding-top: 200rem;
            position: relative;
            height: 600rem;

            .left-part {
                position: absolute;
                top: 160rem;
                left: 25rem;
                width: 508rem;
                height: 501rem;
                background: url('../image/can-img.png') no-repeat center 0rem/100%;
                background-size: contain;
            }

            .right-part {
                position: absolute;
                top: 180rem;
                right: 0;
                max-width: 500rem;

                .title {
                    font-family: Montserrat;
                    font-size: 29.5rem;
                    font-weight: bold;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: 2.86;
                    letter-spacing: normal;
                    text-align: left;
                    color: #4e72b3;
                }

                .text {
                    font-family: Montserrat;
                    font-size: 18rem;
                    font-weight: 400;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: 1.4;
                    letter-spacing: normal;
                    text-align: left;
                    color: #343434;

                    .list-item {
                        position: relative;
                        margin-bottom: 24rem;

                        &::before {
                            content: "";
                            display: block;
                            position: absolute;
                            width: 10rem;
                            height: 10rem;
                            left: -23rem;
                            top: 8rem;
                            background: url("../image/li.png") no-repeat center center/contain;
                        }
                    }
                }
            }
        }

        .how {
            max-width: 100%;
            margin: 0 auto;
            margin-top: 200rem;
            position: relative;
            background-image: linear-gradient(to top, #4e72b3, #5ca0b4);
            padding-top: 30rem;
            height: 400rem;
            margin-bottom: 340rem;

            .how-images {
                width: 100%;
                position: absolute;
                top: 377rem;
                left: -448rem;
                height: 140rem;
                background: url('../image/how-images.png') no-repeat center 0rem/contain;
            }

            .how-images2 {
                width: 100%;
                position: absolute;
                top: 377rem;
                left: 448rem;
                height: 450rem;
                background: url('../image/how-images2.png') no-repeat center 0rem/contain;
            }

            .title {

                font-family: Montserrat;
                font-size: 28rem;
                font-weight: bold;
                font-stretch: normal;
                font-style: normal;
                line-height: 2.88;
                letter-spacing: normal;
                text-align: center;
                color: #ffffff;
            }

            .items-list {
                display: flex;
                align-items: center;
                justify-content: space-between;
                max-width: 95%;
                width: fit-content;
                margin: 0 auto;
                margin-top: 20rem;
                padding-left: 148rem;

                .item {
                    position: relative;
                    font-family: Montserrat;
                    font-size: 18.5rem;
                    font-weight: 400;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: 23rem;
                    letter-spacing: 2.7rem;
                    text-align: left;
                    color: #ffffff;
                    max-width: 24%;
                    padding-left: 62rem;
                    padding-right: 38rem;
                    display: flex;
                    align-items: center;
                    height: 51rem;

                    &:before {
                        content: "";
                        display: block;
                        position: absolute;
                        top: 0rem;
                        left: -15rem;
                        height: 50rem;
                        width: 60rem;
                    }

                }

                .item:nth-child(1) {
                    &:before {
                        background: url("../image/01.png") no-repeat center center/contain;
                    }
                }

                .item:nth-child(2) {
                    &:before {
                        background: url("../image/02.png") no-repeat center center/contain;
                    }
                }

                .item:nth-child(3) {
                    &:before {
                        background: url("../image/03.png") no-repeat center center/contain;
                    }
                }

                .item:nth-child(4) {
                    &:before {
                        background: url("../image/04.png") no-repeat center center/contain;
                    }
                }
            }

            .video {
                width: 800rem;
                height: 400rem;
                position: relative;
                z-index: 999;
                margin: 0 auto;
                margin-top: 65rem;
                border-radius: 10rem;
                overflow: hidden;

                iframe {
                    width: 100%;
                    height: 100%;
                }

                background: url('../image/demo-video.jpg') no-repeat center 0rem/100%;

                iframe{
                    opacity: 0 !important;
                }
            }
        }

        .preim {
            max-width: 900rem;
            margin: 0 auto;
            margin-top: 200rem;
            position: relative;
            padding-top: 30rem;
            min-height: 400rem;

            .title {

                font-family: Montserrat;
                font-size: 28rem;
                font-weight: bold;
                font-stretch: normal;
                font-style: normal;
                line-height: 2.88;
                letter-spacing: normal;
                text-align: center;
                color: #4e72b3;
            }

            .items-list {
                display: flex;
                align-items: baseline;
                justify-content: space-between;
                max-width: 95%;
                width: fit-content;
                margin: 0 auto;
                margin-top: 210rem;


                .item {
                    position: relative;
                    font-family: Montserrat;
                    font-size: 15.5rem;
                    font-weight: 400;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: 20rem;
                    text-align: center;
                    color: #000;
                    display: flex;
                    align-items: center;
                    max-width: 30%;

                    &:before {
                        content: "";
                        display: block;
                        position: absolute;
                        top: -180rem;
                        height: 150rem;
                        width: 150rem;
                        left: 21%;
                    }

                }

                .item:nth-child(1) {
                    &:before {
                        background: url("../image/prem1.png") no-repeat center center/contain;
                    }
                }

                .item:nth-child(2) {
                    &:before {
                        background: url("../image/prem2.png") no-repeat center center/contain;
                    }
                }

                .item:nth-child(3) {
                    &:before {
                        background: url("../image/prem3.png") no-repeat center center/contain;
                    }
                }
            }
        }

        .cost {
            max-width: 1100rem;
            margin: 0 auto;
            padding-top: 200rem;
            position: relative;
            height: 500rem;
            margin-top: 90rem;

            .left-part {
                position: absolute;
                top: 0rem;
                left: 25rem;
                width: 50%;
                height: 401rem;
                background: url('../image/cost.png') no-repeat center 0rem/100%;
                background-size: cover;
                border-radius: 15rem 0 0 15rem;
            }

            .right-part {
                position: absolute;
                top: 0rem;
                right: 0;
                width: 50%;
                background-image: linear-gradient(to top, #df982e, #f59815);
                border-radius: 0 15rem 15rem 0;
                height: 401rem;
                padding: 84rem 45rem;

                .title {
                    font-family: Montserrat;
                    font-size: 25.5rem;
                    font-weight: bold;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: 2.06;
                    letter-spacing: normal;
                    text-align: left;
                    color: #fff;
                }

                .subtitle {
                    font-family: Montserrat;
                    font-size: 16rem;
                    font-weight: normal;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: 1.4;
                    letter-spacing: normal;
                    text-align: left;
                    color: #ffffff;
                }
            }

            form {


            }

            input[type=text] {
                font-family: Montserrat;
                font-size: 16rem;
                width: 100%;
                margin-top: 20rem;
                background: transparent;
                border: none;
                border-bottom: 3rem solid #fff;
                color: #ffffff;
                border-radius: 0;
                min-height: 30rem;
            }

            .checkbox {
                display: flex;
                align-items: center;
                color: #fff;
                font-size: 12rem;
                width: 100%;
                margin-top: 5rem;
            }

            input[type=checkbox] {
                font-family: Montserrat;
                font-size: 16rem;
                width: 19rem;
                margin-right: 4rem;
                color: #ffffff;
                border-radius: 0;
                text-align: left;
                min-height: 20rem;
            }

            ::-webkit-input-placeholder { /* WebKit, Blink, Edge */
                color: #fff;
            }

            :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
                color: #fff;
                opacity: 1;
            }

            ::-moz-placeholder { /* Mozilla Firefox 19+ */
                color: #fff;
                opacity: 1;
            }

            :-ms-input-placeholder { /* Internet Explorer 10-11 */
                color: #fff;
            }

            ::-ms-input-placeholder { /* Microsoft Edge */
                color: #fff;
            }

            ::placeholder { /* Most modern browsers support this now. */
                color: #fff;
            }
        }




        @media (max-width: 501px) {
            .content {
                max-width: 100vw;
                overflow: hidden;
            }
            .header {
                height: auto;

                .logo-container {
                    top: -157rem;
                    left: -42rem;

                }

                .question {
                    top: 97rem;
                    right: 25rem;
                }

                .text-line {
                    .left-part {
                        width: 90%;
                        margin: 0 auto;

                        .text{
                            font-size: 26rem;
                        }
                    }

                    .right-part {
                        position: relative;
                        top: 50rem;
                        right: -32rem;
                        width: 702rem;
                        height: 570rem;
                    }
                }
            }
            .can {
                height: auto;
                min-height: 430rem;
                padding-top: 100rem;

                .left-part {
                    display: none;
                }

                .right-part{
                    position: relative;
                    right: 0;
                    max-width: 77%;
                    margin: 0 auto;
                    top: 0;
                    padding-top: 0;
                    margin-top: 0;

                    .text{
                        font-size: 22rem;
                    }
                }

            }

            .how {
                height: auto;
                margin-bottom: 50rem;
                margin-top: 100rem;

                .items-list {
                    display: block;
                    margin-bottom: 30rem;

                    .item {
                        max-width: 81%;
                        font-size: 20rem;
                        margin-bottom: 20rem;
                    }
                }

                .video {
                    max-width: 100vw;
                    border-radius: 0;
                    background: url('../image/demo-video.jpg') no-repeat center 0rem/100%;

                    iframe{
                        opacity: 0 !important;
                    }
                }
            }

            .preim {
                margin-top: 40rem;

                .items-list {
                    display: block;
                    margin-top: 30rem;

                    .item {
                        height: 170rem;
                        max-width: 90%;
                        text-align: left;
                        font-size: 25rem;
                        line-height: 30rem;

                        &::before {
                            content: "";
                            display: block;
                            position: inherit;
                            top: 0;
                            height: 150rem;
                            width: 150rem;
                            left: 0;
                            min-width: 150rem;
                            margin-right: 30rem;
                        }
                    }
                }
            }


            .cost {
                height: auto;
                margin-top: 90rem;
                min-height: 401rem;
                text-align: center;


                .left-part {
                    display: none;
                }

                .right-part {
                    width: 100%;
                    border-radius: 0;
                    text-align: center;

                    .title{
                        font-family: Montserrat;
                        font-size: 32.5rem;
                        font-weight: bold;
                        font-stretch: normal;
                        font-style: normal;
                        line-height: 2.06;
                        letter-spacing: normal;
                        text-align: center;
                        color: #fff;
                        margin-bottom: 20rem;
                    }

                    .subtitle{
                        color: #ffffff;
                        text-align: center;
                        font-size: 23rem;
                    }

                }
            }
        }
    }
}

.footer {
    width: 100%;
    background-image: linear-gradient(to top, #4e72b3, #5ca0b4);

    .footer-container {
        max-width: 1200rem;
        margin: 0 auto;
        display: flex;
        align-items: center;

        div {
            font-family: Montserrat;
            padding-top: 20rem;
            width: 50%;
            text-align: center;
            font-size: 16rem;
            color: #fff;
        }
    }
}

@media (max-width: 501px) {
    .footer .footer-container div {
        font-family: Montserrat;
        padding-top: 20rem;
        width: 100%;
        text-align: center;
        font-size: 16rem;
        color: #fff;
    }
}




